@import 'fonts';

h1 {
}
h2 {
}
h3,
h4,
h5,
caption {
}
h6,
button {
}

html,
body {
  overflow-x: hidden;
}

p {
}


[class*='col-'],
[class^=' col-'] {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.ant-checkbox {
  .ant-checkbox-inner {
    width: 18px;
    height: 18px;
    border: 1px solid #dadada;
  }
  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: #76ced9;
    }
  }
  &:hover {
    .ant-checkbox-inner {
      border: 1px solid #dadada;
    }
  }
}

body {
  overflow: hidden;
}

.btn {
  &:focus,
  &:active,
  &:hover {
    box-shadow: none;
    outline: none;
    border: none;
  }
}

.ant-alert-main{
  position: absolute;
  bottom: 140px;
  left: 0px;
}